
<form (submit)="submit($event)" class="p-5">
  <div class="row">
    <mat-form-field>
        <input matInput placeholder="Entre com seu usuário" [formControl]="username" required>
        <mat-error *ngIf="username.invalid">{{getErrorMessageUsername()}}</mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field>
        <input matInput type="password" placeholder="Entre com a senha" [formControl]="password" required>
        <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
    </mat-form-field>
  </div>
  <div class="row">
      <button mat-button>Entrar</button>
  </div>
</form>
